<p><%= @name.inspect %></p>

<hr>

<p><%= @end_time %></p>

<hr>

<p><%= @name.env[:url] %></p>

<hr>

<p><%= @name.env[:status] %></p>

<hr>

<p><%= @name.env[:response_headers]['x-runtime'] %></p>

<p><%= @user_agent %>	</p>

<p><%= request.env %>	</p>